/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Navbar
 */
.admin-nav {
  .logo {
    color: $primary-color !important;
    font-weight: bold;
    &:hover {
      color: $secondary-color !important;
    }
  }
}

/*
 * Sidebar
 */
.sidebar {
position: fixed !important;
top: 51px;
bottom: 0;
left: 0;
z-index: 1000;
display: block;
// padding: 20px;
overflow-x: hidden;
overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
background-color: $primary-color;
border-right: 1px solid #eee;
@media(max-width: $screen-sm-max){
  	display: none;
  }

  /* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
  .user{
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
    .user-welcome {
    color: #fff;
    display: inline-block;
    margin: 0;
    font-weight: 400;
    span {
      font-weight: 600;
    }
  }
    .user-avatar{
      position: relative;
      width: 60px;
      height: 60px;
      display: inline-block;
      border-radius: 50%;
      background-color: #EFEFEF;
      border: 2px solid #fff;
      overflow: hidden;
      margin: 10px 10px 5px 20px;
      img {
        position:absolute;
          width:100%;
          height:100%;
          text-align: center;
          vertical-align: middle;
      }
    }
  }
  li a {
    padding-right: 20px;
    padding-left: 20px;
    color: #fff;
    &:hover {
    border-right: 10px solid $secondary-color;  
    }
  }
 .active > a,
 .active > a:hover,
 .active > a:focus {
  color: #fff !important;
  background-color: $secondary-color !important;
  border-right: 10px solid #fff;
  }

}


}





/*
 * Main content
 */
.main {
   padding-right: 40px;
   padding-left: 40px;
   // margin-top: 40px;
   @media(max-width: $screen-sm-max){
    padding-top: 10px;
  }
  form{
    input, textarea{
      margin-bottom: 5px;
    }
    select {
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }

  .helper-buttons {
    margin-bottom: 10px;
  }
}
.main .page-header {
   margin-top: 0;
}



/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}