// Custom classes
.text-white {
  color: #fff;
}

.text-bold {
  font-weight: bold;
}

.text-success {
  color: $brand-success !important;
}

.btn-custom {
  background: $secondary-color;
  color: #fff;
  &:hover {
      color: $secondary-color !important;
      background: #fff !important;
      border: 1px solid $secondary-color;
    }
}

.btn-fb {
  background: #3b5998;
  color: #fff;
  &:hover {
      color: #3b5998 !important;
      background: #fff !important;
      border: 1px solid #3b5998;
    }
}

.btn-register {
	background: #fff;
	color: $secondary-color !important;
	border: 1px solid $secondary-color;
	@include border-radius(50px);
	text-align: center;
    padding: 5px 0 !important;
    margin-top: 10px;
    height: 33px;
    width: 92px;
}

// Card
.card {
  @include box-shadow(5px, 5px, 20px, lightgrey);
  a:hover{
    text-decoration: none !important;
  }
  .card-heading {
    background: $primary-color !important;
    text-transform: uppercase;
    color: #fff !important;
    text-align: center;
    h1 {
      font-size: 14px;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  .card-body {
    height: 196px;
    a {
      color: $primary-color;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.card-chapter {
  @extend .card;
  position: relative !important;
  .card-chapter-heading {
    background: $secondary-color !important;
    text-transform: uppercase;
    color: #fff !important;
    text-align: center; 
  }
  &:after {
    content: '';
    @include box-shadow(5px, 5px, 20px, lightgrey);
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid lightgrey;
    top: 0;
    bottom: 0;
    left: 0;
    transform: rotate(3deg);
    background: #fff;
    z-index: -1;
  }
  &:before {
    content: '';
    @include box-shadow(5px, 5px, 20px, lightgrey);
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid lightgrey;
    top: 0;
    bottom: 0;
    left: 0;
    transform: rotate(6deg);
    background: #fff;
    z-index: -2;
  }
}

// Post
.post-head {
  @include box-shadow(5px, 5px, 20px, lightgrey);

  p {
    color: #7f8c90 !important;
  }
  a:hover {
    text-decoration: none !important;
    color: $secondary-color !important;
  }
  .post-head__title {
    color: $secondary-color !important;
    font-size: 24px !important;
  }
  .post-head__date {
    color: #7f8c90;
    font-weight: 700;
  }
  .post-head__bullets {
    margin: 0 0 10px;
    .post-head__time {
      color: $gray-color !important;
      background: $secondary-color !important;
      @include border-radius(3px);
      padding: 5px 8px;
    }
    .post-head__level {
      color: $gray-color !important;
      background: $primary-color !important;
      text-transform: uppercase;
      @include border-radius(3px);
      padding: 5px 8px;
    }
    .post-head__count {
      color: $gray-color !important;
      background: $secondary-color !important;
      @include border-radius(3px);
      padding: 5px 8px;
    }
  }
  
  .post-head__start {
    color: $gray-color !important;
    background: $brand-danger !important;
    @include border-radius(3px);
    padding: 5px 8px;
    &:hover {
      text-decoration: none;
      color: $brand-danger !important;
      background: $gray-color !important;
      border: 1px solid $brand-danger;
      span {
        margin-left: 5px;
      }
    }
} 

}

.post-body {
  @include box-shadow(5px, 5px, 20px, lightgrey);
  p {
    color: #7f8c90 ;
  }

  #timer {
    border: 1px solid grey;
    position: fixed;
    top: 80px;
    left: 180px;
    padding: 5px 10px;
    background: #fff;
    @include border-radius(50px);
    @include box-shadow(2px, 2px, 10px, grey);
  }

  .post-body__end {
    margin-top: 20px;
    color: $gray-color !important;
    background: $brand-danger !important;
    @include border-radius(3px);
    padding: 5px 8px;
    &:hover {
      text-decoration: none;
      color: $brand-danger !important;
      background: $gray-color !important;
      border: 1px solid $brand-danger;
    }
} 
.post-head__again {
    color: $gray-color !important;
    background: $brand-danger !important;
    @include border-radius(3px);
    padding: 5px 8px;
    &:hover {
      text-decoration: none;
      color: $brand-danger !important;
      background: $gray-color !important;
      border: 1px solid $brand-danger;
      span {
        margin-left: 5px;
        transform: rotate(180deg);
      }
    }
} 

}

// Title
.section-title {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 40px;
    color: $primary-color !important;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      bottom: -.5em;
      left: 50%;
      height: 2px;
      width: 30px;
      margin-left: -15px;
      display: block;
      background-color: $secondary-color;
    }
}

// Scroll top Button
.scrollToTop{
  width:40px; 
  height:40px;
  padding-top: 10px;
  text-align: center; 
  z-index: 10000;
  color: #fff;
  text-decoration: none;
  position:fixed;
  bottom:75px;
  right:20px;
  display:none;
  opacity: 0.6;
  background: $secondary-color;
  @include border-radius(50%);
}
.scrollToTop:hover{
  opacity: 1;
  color: #fff !important;
}