// Global classes
* {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
a:hover {
    color: $secondary-color !important;
  }

input:focus {
        border: 1px solid $secondary-color !important;
  }

body {
	margin-top: 50px !important;
}