/*
 * Navbar
 */
.navigation {
	background: #fff !important;
	margin-bottom: 0 !important;

	.navbar-toggle{
		&:hover, &:focus {
			background-color: $secondary-color !important;
		}
	}

	.authentication-nav {
		.btn-register:hover {
			background: $secondary-color !important;
    		color: #fff !important;
		}
		// .avatar {
		// 	width: 20px;
  //   		height: 20px;
  //   		display: inline-block;
  //   		border-radius: 50%;
  //   		background-color: $gray-color;
  //   		overflow: hidden;
  //   		position: relative;
  //   		top: 3px;
		// }
			.avatar {
				position: relative;
				top: 3px;
				width: 20px;
				height: 20px;
				display: inline-block;
				border-radius: 50%;
				background-color: $gray-color;
				overflow: hidden;
				img {
					position:absolute;
		    		width:100%;
		    		height:100%;
		    		text-align: center;
		    		vertical-align: middle;
		}
			}
	}

	.logo {
		color: $primary-color !important;
		font-size: 20px;
		font-weight: bold;
		&:hover {
			color: $secondary-color !important;
		}
	}

	.logo-scroll {
		color: $secondary-color !important;
	}

	.navbar-search {
		@media(max-width: $screen-xs-max){
				height: 60px;
		}
		input {
			width: auto !important;
			padding-right: 30px !important;
			@include border-radius(50px);
			@media(max-width: $screen-sm-max){
				width: 120px !important;
			}
		}
		button {
			background: none;
			border: 0;
			margin-left: -40px;
			@media(max-width: $screen-xs-max){
				margin-left: 80px;
    			margin-top: -65px;
			}
		}
	}
}

/*
 * Jumbotron and main content
 */
 
.jumbotron {
	position: relative;
	height: 550px;
	background: url('/images/bg-sm.jpg') no-repeat center center;
	margin-bottom: 0;

	h1 {
		// margin-top: 250px;
		color: #fff !important;
		opacity: 0.5;
		font-size: 30px !important;
	}
	@media(max-width: $screen-sm-max){
		background: url('/images/bg-sm.jpg') no-repeat center center;	
		height: 450px;
	}
	@media(max-width: $screen-xs-max){
		background: url('/images/bg-xs.jpg') no-repeat center center;
		height: 250px;
		margin-top: 50px;	
	}
	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		height: 100%;
		width: 100%;
		// transition: all 0.8s;
		opacity: 0.4;
		background: url('/images/noise.png');
	}
}

/*
 * Main Content
 */	

.main-content {
	padding-top: 50px;
	padding-bottom: 50px;
	// margin-top: 50px;
	.btn-custom {
		margin-bottom: 20px;
		@include box-shadow(5px, 5px, 20px, lightgrey);
	}
	.btn-fb {
		margin-bottom: 20px;
		@include box-shadow(5px, 5px, 20px, lightgrey);
	}
	.settings-nav {
		li.active>a:focus, li.active>a{
			background-color: $primary-color !important;
		}
	}
	.settings-content {
		input {
			margin-bottom: 10px;
		}
	}
	.pagination{
		li.active>span {
		background-color: $secondary-color !important;
		border-color: $secondary-color !important;
		}
	}

	.user-avatar {
		position: relative;
		width: 60px;
		height: 60px;
		display: block;
		border-radius: 50%;
		background-color: $gray-color;
		overflow: hidden;
		margin-bottom: 5px;
		img {
			position:absolute;
    		width:100%;
    		height:100%;
    		text-align: center;
    		vertical-align: middle;
		}
	}

	.algolia {
		color: #777;
		overflow: hidden;
		width: 75px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 20px;
		text-align: center;
	}
	
	.chapter-list {
		a, a:hover {
			text-decoration: none;
			font-size: 14px;
		}
		li {
			list-style: none;
		}
		.chapter-list-order {
			color: $primary-color;
			font-weight: 600;
		}	
	}	
}



/*
 * Footer 
 */
.footer-top {
	padding: 40px 0;
	min-height: 100px;
  	background-color: $gray-color;
  	h3, h4 {
  		margin-top: 0;
  		color: $primary-color;
  	}
  	ul {
  		list-style: none;
  		padding: 0;
  		a{
			text-decoration: none;
			&:hover {
				text-decoration: none;
				color: $secondary-color;
			}
  		}
  	}
  	form {
  		margin-top: 20px;
  		@media(max-width: $screen-sm-max){
				display: none;
			}
		input {
			width: 250px !important;
			height: 34px;
			@include border-top-left-radius(10px);
			@include border-bottom-left-radius(10px);
			@include border-top-right-radius(0);
			@include border-bottom-right-radius(0);
		}
		button {
			margin-left: -4px;
			@include border-top-left-radius(0);
			@include border-bottom-left-radius(0);
			@include border-top-right-radius(10px);
			@include border-bottom-right-radius(10px);
			&:hover {
				background: #fff;
				border: $secondary-color 1px solid;
				color: $secondary-color !important;
			}
		}
  	}
}

.footer-bottom {
	padding-top: 10px;
  	background-color: $footer-color;
  	.lang-chooser {
  		width: 100px;
  		height: 25px;
  		margin: 0 auto;
  	}
  	.social-icons{
  		margin-top: 20px;
  		a{
  		color: #fff;
  		font-size: 25px !important;
   		}
  	}
  	
}